# ╔═══════╗ ╔═══════╗ ╔═══════╗ ╔═══════╗ ╔═══════╗
# ║  P.2  ║ ║  P.3  ║ ║  P.4  ║ ║  P.5  ║ ║  P.6  ║
# ╠═══╦═══╣ ╠═══╦═══╣ ╠═══╦═══╣ ╠═══╦═══╣ ╠═══╦═══╣
# ║3V3║3V3│ ║3V3║3V3│ ║3V3║3V3│ ║3V3║3V3│ ║3V3║3V3│
# ╠═══╬───┤ ╠═══╬───┤ ╠═══╬───┤ ╠═══╬───┤ ╠═══╬───┤
# │GND│GND│ │GND│GND│ │GND│GND│ │GND│GND│ │GND│GND│
# ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤
# │B8 │A8 │ │K1 │G2 │ │R7 │R8 │ │C5 │D6 │ │F13│F14│
# ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤
# │B7 │A7 │ │M1 │L2 │ │D5 │C4 │ │C6 │D7 │ │G13│G14│
# ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤
# │B6 │A6 │ │N1 │M2 │ │D4 │C3 │ │C7 │D8 │ │H13│H14│
# ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤
# │B5 │A5 │ │P1 │N3 │ │E4 │E3 │ │C8 │D9 │ │J13│J14│
# ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤
# │B4 │A4 │ │R1 │P2 │ │F4 │F3 │ │C9 │D10│ │K13│K14│
# ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤
# │GND│5V │ │GND│5V │ │GND│5V │ │GND│5V │ │GND│5V │
# ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤
# │B3 │A3 │ │T2 │R2 │ │G4 │G3 │ │C10│D11│ │L13│L14│
# ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤
# │3V3│3V3│ │3V3│3V3│ │3V3│3V3│ │3V3│3V3│ │3V3│3V3│
# ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤
# │GND│GND│ │GND│GND│ │GND│GND│ │GND│GND│ │GND│GND│
# ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤
# │B1 │A2 │ │T3 │R3 │ │K4 │J4 │ │C11│D12│ │M13│M12│
# ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤
# │C1 │B2 │ │T4 │R4 │ │H3 │J3 │ │C12│D13│ │P14│N13│
# ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤
# │D1 │C2 │ │R6 │R5 │ │K3 │J2 │ │C13│E12│ │P13│N12│
# ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤ ├───┼───┤
# │F2 │E1 │ │R7 │T6 │ │   │   │ │E13│E14│ │P12│P11│
# └───┴───┘ └───┴───┘ └───┴───┘ └───┴───┘ └───┴───┘

LOCATE COMP "CLK" SITE "P6";
FREQUENCY PORT "CLK" 25 MHZ;

LOCATE COMP "TX"   SITE "B9";
LOCATE COMP "HS_"  SITE "N3";
LOCATE COMP "VS_"  SITE "M2";
LOCATE COMP "R[0]" SITE "R7";
LOCATE COMP "R[1]" SITE "R6";
LOCATE COMP "R[2]" SITE "T4";
LOCATE COMP "R[3]" SITE "T3";
LOCATE COMP "G[0]" SITE "P1";
LOCATE COMP "G[1]" SITE "N1";
LOCATE COMP "G[2]" SITE "M1";
LOCATE COMP "G[3]" SITE "K1";
LOCATE COMP "B[0]" SITE "R3";
LOCATE COMP "B[1]" SITE "R4";
LOCATE COMP "B[2]" SITE "R5";
LOCATE COMP "B[3]" SITE "T6";
